<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.firebirdsql.jdbc.FBDriver"/>
        <property name="url" value="jdbc:firebirdsql:192.168.137.142/3050:C:/SCAT/WORKBIN/DB/DATA.fdb"/>
        <property name="username" value="sysdba"/>
        <property name="password" value="zaUgD5Lt"/>
      </dataSource>
    </environment>
  </environments>
</configuration>
